
<%= stylesheet_link_tag "careers"%>
<% provide(:title, "Careers") %>


            <div class="top_panel_fixed_wrap"></div>

            <header>
  <!-- Main menu -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="college.html">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate.html">Corporate</a></li>
          <li><a href="government.html">Government</a></li>
            <li><a href="about_us.html">About</a></li>
              <li  class="active"><a href="Careers.html">Careers</a></li>

              <li ><a href="Contact.html" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <!-- /Main menu -->
</header>
			<!-- Page title -->


<ul class="nav nav-tabs" id="careers-nav">
    <li class="active"><a data-toggle="tab" href="#teaching">Training</a></li>
    <li><a data-toggle="tab" href="#technology">Technology</a></li>
    <li><a data-toggle="tab" href="#creative">Creative</a></li>
    <li><a data-toggle="tab" href="#finance">Finance and Operations</a></li>
  </ul>


  <div style="color: #fff">.</div>
<div class="container">
  <div class="pull-right">
<% if user_signed_in? %>

      <%= current_user.email %>&nbsp;&nbsp;&nbsp;


      <%= link_to 'Profile', edit_user_registration_path %>&nbsp; &nbsp; &nbsp;&nbsp;
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>



<% else %>
  <%= link_to 'Log In', new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
</div>

  <div class="tab-content">


    <div id="teaching" class="tab-pane fade in active">

<h3 class="careers-header"> Careers in traning</h3>

<div class="row">

<div class="col col-md-4">
<p>Are you passionate about sharing your knowledge and experience with youngsters about to take their first steps in the corporate world?<br><br>

Do you get a high out of communicating and helping others learn better?<br><br>

Are you the "expert" friends turn to when they need help figuring out complex concepts?<br><br>

If that describes you, we'd love to get you opportunities to teach in colleges and corporates across India!<br><br>

We are constantly on the lookout for accomplished professionals in accounting, finance, sales, marketing, analytics and many more fields! We offer exciting full time and part time/freelance opportunities to suit your time constraints!<br><br>

Drop us a line and our team will get in touch with you to get you on the ISTAR Trainer network!
</p>
</div>

<div class="col col-md-4">



           <div class="testimonials">
			<blockquote>
						<p class="clients-words" style="top: 8%">
iSTAR's trainers are professionally trained and bring their corporate work experience into the classroom. Their enthusiasm for teaching is infectious and students love the high energy levels!</p>
						<span class="clients-name text-primary" style="top: 4em">— Hema Vaidyanathan</span>

            <img class="img-circle " src="images/testimonials/hema.png">
					</blockquote>

</div>

   <div class="testimonials">
			<blockquote>
						<p class="clients-words" style="top: 30%">I love the absolute freedom to innovate and experiment. Best job I ever had.</p>
						<span class="clients-name text-primary">— Mark Lionel</span>
						<img class="img-circle " src="images/testimonials/mark.png">
					</blockquote>

</div>

<div class="testimonials">
			<blockquote>
						<p class="clients-words">Love the young and vibrant environment that helps nurture creative growth. We are set to make history by revolutionizing the education space. </p>
						<span class="clients-name text-primary">— Shruthi Varkhedkar</span>
						<img class="img-circle " src="images/testimonials/shruthi.png">
					</blockquote>

</div>



</div>

<div class="col col-md-4">

<form role="form">
	<div class="form-group">
    <label for="email">First Name:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Last Name:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Java</option>
    <option>C</option>
    <option>C++</option>
    <option>Objective C</option>
  </select>
</div>
  <div class="checkbox">
    <label><input type="checkbox">Remember me</label>
  </div>

<% if user_signed_in? %>

      <%= link_to "Submit", "/Careers", :class => 'btn btn-primary' %>
  <% else %>
    <%= link_to "Submit", new_user_session_path, :class => 'btn btn-primary' %>

<% end %>


</form>

</div>

</div>


</div>











    <div id="technology" class="tab-pane fade">
      <h3 class="careers-header"> Careers in technology</h3>
<div class="row">

<div class="col col-md-4">
<p>Keen to build the next generation of tools for teaching and learning?<br><br>

Want to redefine how learning happens?<br><br>

Passionate about using data to make learning better?<br><br>

We are constantly on the lookout for mission oriented technologists who are keen to build products that make a difference to the world!<br><br>

We are working on cutting edge technologies across mobile, application servers, game development, AI and analytics to deliver a revolutionary experience to learners!<br><br>

Drop us a line if you'd like to join us and put a ding in the universe!
</p>
</div>

<div class="col col-md-4">


           <div class="testimonials">
			<blockquote>
						<p class="clients-words">Hi there, We just bought bootdey is a nice gallery of free bootstrap snippet</p>
						<span class="clients-name text-primary">— Amanda corey</span>
						<img class="img-circle " src="images/testimonials/vaibhav.png">
					</blockquote>

</div>

   <div class="testimonials">
			<blockquote>
						<p class="clients-words">The tech team at ISTAR is distinctly ambitious. It's an amazing environment- we build on cutting edge technologies to deliver the impact with a truly next gen solution.</p>
						<span class="clients-name text-primary">— Vishal Daga</span>

            <img class="img-circle " src="images/testimonials/vishal.png">
					</blockquote>

</div>

<div class="testimonials">
			<blockquote>
						<p class="clients-words" style="top: 14%">The perfect place to change education society by innovation and technology. The best part here is a developer gets to  work on latest technologies and framework, and can play a significant role in architect and design.</p>
						<span class="clients-name text-primary" style="top: 4.5em">— Mayank Prajapati</span>
						  <img class="img-circle " src="images/testimonials/mayank.png">
					</blockquote>

</div>



</div>

<div class="col col-md-4">

<form role="form">
	<div class="form-group">
    <label for="email">First Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Last Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Java</option>
    <option>C</option>
    <option>C++</option>
    <option>Objective C</option>
  </select>
</div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <% if user_signed_in? %>

        <%= link_to "Submit", "/Careers", :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to "Submit", new_user_session_path, :class => 'btn btn-primary' %>

  <% end %>
</form>

</div>

</div>

</div>


















    <div id="creative" class="tab-pane fade" >
      <h3 class="careers-header"> Careers in creative</h3>
 <div class="row">

<div class="col col-md-4">
<p>Do you dream in a million colors?<br><br>

Are you a compulsive storyteller?<br><br>

Can you communicate complex concepts simply and playfully?<br><br>

Do you love inventing games?<br><br>

Do you live to craft beautiful visual experiences?<br><br>

Do you dream of a day when stories could come alive?<br><br>

Join us transform learning from a dreary chalk 'n' talk world into the magical experience it could be if we only got to craft it anew!</p>
</div>

<div class="col col-md-4">


           <div class="testimonials">
			<blockquote>
						<p class="clients-words" style="top: 4%">We have before us an exciting opportunity for us to showcase our content in the most visually exciting, interactive and engaging fashion possible.  Our creative team is young and energetic and focused on bringing great content alive!</p>
						<span class="clients-name text-primary" style="top: 4.7em">— Hema Vaidyanathan</span>

            <img class="img-circle " src="images/testimonials/hema.png">
					</blockquote>

</div>

   <div class="testimonials">
			<blockquote>
						<p class="clients-words">My potential is challenged everyday. In this environment I am constantly growing.</p>
						<span class="clients-name text-primary">— Clevin Wilfred</span>
						<img class="img-circle " src="images/testimonials/clevin.png">
					</blockquote>

</div>

<div class="testimonials">
			<blockquote>
						<p class="clients-words">iStar helps me break boundaries in my work life. With an ever changing work environment you are always ahead in the race.</p>
						<span class="clients-name text-primary">— Kiran Kumar</span>
						<img class="img-circle " src="images/testimonials/kiran.png">
					</blockquote>

</div>


</div>

<div class="col col-md-4">

<form role="form">
	<div class="form-group">
    <label for="email">First Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Last Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Java</option>
    <option>C</option>
    <option>C++</option>
    <option>Objective C</option>
  </select>
</div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <% if user_signed_in? %>

        <%= link_to "Submit", "/Careers", :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to "Submit", new_user_session_path, :class => 'btn btn-primary' %>

  <% end %>
</form>

</div>

</div>
    </div>




    <div id="finance" class="tab-pane fade">
<h3 class="careers-header"> Careers in finance</h3>
	<div class="row">

<div class="col col-md-4">
<p>We run a tight ship, and we are constantly on the lookout for reliable, energetic professionals to help us run training operations across India!<br><br>

We have opportunities across training operations management, placement management and faculty development management!<br><br>

Drop us a line with your resume if that sounds like something that would excite you!<br><br>

Active Jobs<br><br>

We can have a section that features our latest openings.</p>
</div>

<div class="col col-md-4">


           <div class="testimonials">
			<blockquote>
						<p class="clients-words">
              I am glad to be at istar because it is a young and fun organization. People  here are energetic and very enthusiastic about work and the fun part of it. </p>
						<span class="clients-name text-primary">— Tasneem Hegde</span>
            <img class="img-circle " src="images/testimonials/tasneem.png">

					</blockquote>

</div>

   <div class="testimonials">
			<blockquote>
						<p class="clients-words">iStar is a nurturing ground for personal and professional growth. Every day you are sure to encounter a new challenge that just enhances the excitement of the environment.</p>
						<span class="clients-name text-primary" style="top: 4.5em">— Bhavya Dasa</span>
            <img class="img-circle " src="images/testimonials/bhavya.png">

					</blockquote>

</div>

<div class="testimonials">
			<blockquote>
						<p class="clients-words">Being into operations, engage & deliver for a longer time, I have  learnt from my company the core values of hard work & professionalism, the result is a genuine ability to deliver solutions each & every time.</p>
						<span class="clients-name text-primary" style="top: 4.5em">— Santhosh Swamy</span>
						<img class="img-circle " src="images/testimonials/santhosh.png">
					</blockquote>

</div>



</div>

<div class="col col-md-4">

<form role="form">
	<div class="form-group">
    <label for="email">First Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Last Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>

<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
    <option>Java</option>
    <option>C</option>
    <option>C++</option>
    <option>Objective C</option>
  </select>
</div>



  <div class="checkbox">

    <label><input type="checkbox"> Remember me</label>
  </div>
  <% if user_signed_in? %>

        <%= link_to "Submit", "/Careers", :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to "Submit", new_user_session_path, :class => 'btn btn-primary' %>

  <% end %>
</form>

</div>

</div>

</div>

    </div>







							<!--  Board  -->










































						</section>
					</article>
				</div>
			</div>











			<!-- /Widgets Footer -->
			<!-- Contacts Footer -->

<!-- /Testimonials footer -->
<!-- Contacts Footer -->

<!-- /Contacts Footer -->
<!-- Copyright -->
<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>

			<!-- /Copyright -->
		</div>
	</div>
